<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clarke</title>
</head>
<body>
    <h1>Clarke</h1>

    <a href="/views/babbage.html">Charles Babbage</a><br>
    <a href="/views/berners-Lee.html">Berners-Lee</a><br>
    <a href="/views/hamilton.html">Margaret Hamilton</a><br>
    <a href="/views/hopper.html">Grace Hopper</a><br>
    <a href="/views/lovelace.html">Ada Lovelace</a><br>
    <a href="/views/turing.html">Alan Turing</a><br>
    <a href="/views/index.html">Inicio</a><br>

    <img src="/public/img/Clarke.jpg" alt="Imagen de Clarke">
  
    <p>Sus avances estuvieron dentro del campo de la ingeniería energética. En 1921 patentó una calculadora gráfica que se utilizó para resolver problemas sobre líneas de transmisión eléctrica. Además, fue la primera mujer que expuso en una reunión anual del American Institute of Electrical Engineeering.</p>
</body>
</html>