<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hamilton</title>
</head>

<body>
    <h1>Margaret Hamilton</h1>

    <a href="/views/babbage.html">Charles Babbage</a><br>
    <a href="/views/berners-Lee.html">Berners-Lee</a><br>
    <a href="/views/clarke.html">Edith Clarke</a><br>
    <a href="/views/hopper.html">Grace Hopper</a><br>
    <a href="/views/lovelace.html">Ada Lovelace</a><br>
    <a href="/views/turing.html">Alan Turing</a><br>
    <a href="/views/index.html">Inicio</a><br>

    <img src="/public/img/Margaret_Hamilton_.jpg" alt="Margaret_Hamilton">
    <p>Fue directora de la División de Ingeniería de Software del Laboratorio de Instrumentación del MIT,1​ donde con su
        equipo desarrolló el software de navegación "on-board" para el Programa Espacial Apolo.2​3​4​ En 1986, se
        convirtió en la fundadora y CEO de Hamilton Technologies, Inc. en Cambridge, Massachusetts. </p>
</body>

</html>