<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoper</title>
</head>
<body>
    <h1>Hoper</h1>

    <a href="/views/babbage.html">Charles Babbage</a><br>
    <a href="/views/berners-Lee.html">Berners-Lee</a><br>
    <a href="/views/clarke.html">Edith Clarke</a><br>
    <a href="/views/hamilton.html">Margaret Hamilton</a><br>
    <a href="/views/lovelace.html">Ada Lovelace</a><br>
    <a href="/views/turing.html">Alan Turing</a><br>
    <a href="/views/index.html">Inicio</a><br>

    <img src="/public/img/GraceHopper.jpg" alt="Imagen de Hopper">

    <p>miembro de la Marina de los Estados Unidos y científica computacional, Grace Hopper está considerada como la madre de la programación informática.
Desarrolló uno de los primeros compiladores de lenguaje. Un importante salto de las técnicas de programación primitivas a los sofisticados sistemas que usamos ahora.</p>
    </body>
</html>