<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lovelace</title>
</head>
<body>
    <h1>Ada Lovelace</h1>

    <a href="/views/babbage.html">Charles Babbage</a><br>
    <a href="/views/berners-Lee.html">Berners-Lee</a><br>
    <a href="/views/clarke.html">Edith Clarke</a><br>
    <a href="/views/hamilton.html">Margaret Hamilton</a><br>
    <a href="/views/hopper.html">Grace Hopper</a><br>
    <a href="/views/turing.html">Alan Turing</a><br>
    <a href="/views/index.html">Inicio</a><br>

    <img src="/public/img/Ada_Lovelace.jpg" alt="Imagen de Lovelace">
<p>Ada fue la primera persona en el mundo que describió un lenguaje de programación de carácter general al interpretar las ideas de Babbage incluso mejor que él mismo. En 1843 publicó una serie de notas sobre su máquina analítica, que firmó sólo con sus iniciales por miedo a ser censurada por su condición de mujer.</p>
   </body>
</html>