<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turing</title>
</head>
<body>
    <h1>Turing</h1>

    <a href="/views/babbage.html">Charles Babbage</a><br>
    <a href="/views/berners-Lee.html">Berners-Lee</a><br>
    <a href="/views/clarke.html">Edith Clarke</a><br>
    <a href="/views/hamilton.html">Margaret Hamilton</a><br>
    <a href="/views/hopper.html">Grace Hopper</a><br>
    <a href="/views/lovelace.html">Ada Lovelace</a><br>
    <a href="/views/index.html">Inicio</a><br>

    <img src="/public/img/Turing.jpg" alt="Imagen de Alan Turing">
<p>Alan Turing fue un brillante matemático, criptoanalista e informático teórico nacido el veintitrés de Junio de 1912 en Maida Vale un distrito residencial al oeste de Londres. ... Formalizó los conceptos de algoritmo y computación con su máquina de Turing. Es considerado el padre de la inteligencia artificial.</p>
  </body>
</html>